body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffe4ec, #ffc1e3); /* rosa degradê */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
 
.card {
  background: white;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
  width: 320px;
}

.card p:first-of-type {
  font-size: 28px;
  font-weight: bold;
  color: #d63384;
  margin-bottom: 25px;
}

.card label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  text-align: left;
  margin-left: 10px;
}


.card input[type="number"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #f8bbd0;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
  transition: 0.2s;
}

.card input[type="number"]:focus {
  border-color: #ff4da6;
  box-shadow: 0 0 8px rgba(255,77,166,0.5);
}


.card input[type="button"] {
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #ff4da6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.card input[type="button"]:hover {
  background-color: #e60073;
  transform: scale(1.05);
}


.card span {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
